@charset "utf-8";
/* CSS Document */

/*全称セレクタ*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*ゲーム画面全体*/
#game_wrap {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 400px;
}

/*入力結果*/
#result {
	margin: 30px auto 0px auto;
	width: 300px;
	height: 50px;
}

#result li {
	float: left;
	margin: 15px 10px 0px 15px;
	font-size: 20px;
}

/*制限時間表示*/
#time {
	clear: both;
	float: right;
	margin: 50px 0px 0px 0px;
	width: 100px;
	height: 40px;
	background:#F00;
	color: #FFF;
	text-align: center;
	line-height: 40px;
}

/*問題数の表示*/
#question {
	clear: both;
	float: left;
	margin: 0px 0px 0px 0px;
	width: 130px;
	height: 40px;
	background-color:#69C;
	color: #fff;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	line-height: 40px;
}

#dai {
	float: left;
	width: 20px;
	height: 40px;
	margin: 0px 10px 0px 10px;
}

#q_num {
	float:left;
	width: 50px;
	height: 40px;
	font-size: 18px;
}

#mon {
	float: left;
	width: 20px;
	height: 40px;
	margin-left: 10px;
}

/*単語を表示*/
#word_box {
	float: left;
	margin: 0px 0px 0px 0px;
	width: 600px;
	height: 200px;
	border:#69C solid 2px;
	color: #000;
	text-align: center;
	font-size: 50px;
	line-height: 180px;
}

