@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#wrap {
	width: 800px;
	height: 100%;
	margin: 0px auto;
}

header{
	width: 800px;
	height: 150px;
	margin: 10px auto;
}

header img {
	border: none;
}

nav {
	width: 800px;
	height: 40px;
	margin: 0px auto 60px auto;

}

nav li {
	float: left;
}

.div_write {
	width: 780px;
	padding: 20px 10px 10px 10px;
	margin: 0px 0px 350px 0px;
	border-bottom: #999 dotted 1px;
	border-top: #999 dotted 1px;
}

p{
	margin-bottom: 0.4em;
	margin-left: 1.6em;
}

.marker {
	background-color: #FCF;
}

.back_top{
	margin: 30px 0px 0px 0px;
	text-align: right;
}

.div_prof {
	float: left;
	width: 380px;
	height: 100px;
	margin: 20px 0px 0px 10px;
}

.div_prof p{
	margin: 0.5em 0em 0em 1em;
}

.div_write li{
	margin: 1em 2em;
	list-style: square;
}

.table_words {
	border: none;
	width: 760px;
	margin: 0px auto;
}

.table_title {
	width: 756px;
	background:#69F;
	color: #fff;
	font-size: 100%;
	text-align: center;
	margin: 30px auto 0px auto;
	border: none;
}

/*英語文字列のセル*/
.table_eng {
	width: 190px;
	padding: 0.3em;
	background:#F9F9F9;
}

.table_jpn {
	width: 190px;
	padding: 0.3em;
	background:#fff;
	border: 1px solid #f9f9f9;
}

footer {
	width: 800px;
	height: 100%;
	background:#fff;
	color:#333;
	text-align:center;
	padding: 1em 0em;
	margin: -200px 0px 0px 0px;
}

h2 {
	padding: 10px 0px 0px 10px;
	font-size:24px;
	color: #333;
	text-shadow: 1px 1px 2px #CCC;
	text-align:right;
}

h3 {
	background: url(../img/arrow.gif) no-repeat center left;
	padding: 1em 0em 0.8em 1.7em;
	margin: 40px 5px 10px 0px;
	font-weight: bold;
}

h4 {
	font-weight: normal;
}

a:hover{
	/*ホバー時に少し透過させる*/
	opacity:0.7;
	position: relative;
	top: 1px;
}

a {
	text-decoration: none;
	color:#999;
}

.pink{
	color: #F66;
}

.orange {
	color:#F60;
}

.green {
	color:#396;
}

.skyblue {
	color:#69F;
}