@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#wrap {
	width: 800px;
	height: 100%;
	margin: 0px auto;
}

header{
	width: 800px;
	height: 150px;
	margin: 10px auto;
}

header img {
	border: none;
}

.div_navtext {
	width: 300px;
	height: 50px;
	text-align: center;
	margin: 10px auto 0px auto;
}

nav {
	width: 800px;
	height: 40px;
	margin: 0px 100px 60px auto;
}

nav li {
	float: left;
	margin: 0px 10px;
	font-size: 140%;

}

.div_write {
	width: 780px;
	padding: 20px 10px 10px 10px;
	margin: 0px 0px 300px 0px;
	border-bottom: #999 dashed 1px;
}

p{
	margin-bottom: 0.4em;
	margin-left: 1.6em;
}

.marker {
	background-color: #CFC;
}

.back_top{
	margin: 30px 0px 0px 0px;
	text-align: right;
}

.div_prof {
	float: left;
	width: 380px;
	height: 100px;
	margin: 20px 0px 0px 10px;
}

.div_prof p{
	margin: 0.5em 0em 0em 1em;
}

.div_write li{
	margin: 1em 2em;
	list-style: square;
}

h2 {
	padding: 10px 0px 0px 10px;
	font-size:24px;
	border-bottom: dashed 1px #999;
	color: #333;
	text-shadow: 1px 1px 2px #CCC;
	text-align:right;
}

h3 {
	background: url(../img/cake.png) no-repeat center left;
	margin-left: 10px;
	padding: 0em 0em 0em 2.5em;
	margin: 40px 5px 10px 0px;
	font-weight: bold;
}

h4 {
	font-weight: normal;
}

a:hover{
	/*ホバー時に少し透過させる*/
	opacity:0.7;
	position: relative;
	top: 1px;
}

a {
	text-decoration: none;
	color:#999;
}

.pink{
	color: #F66;
}

.orange {
	color:#F60;
}

.green {
	color:#396;
}

.skyblue {
	color:#69F;
}