@charset "utf-8";
/* CSS Document */

/*全称セレクタ*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*ゲーム画面全体*/
#game_wrap {
	margin: 50px auto 0px auto;
	width: 600px;
	height: 400px;
}

/*入力結果*/
#result {
	margin: 30px auto 0px auto;
	width: 300px;
	height: 50px;
	visibility: hidden;
}

#result li {
	float: left;
	margin: 15px 10px 0px 15px;
	font-size: 20px;
}

/*吹き出し*/
.speech_buble {
	float: right;
	width: 400px;
	height: 200px;
	border-style: none;
	background: url(../img/speech_bubble.png) no-repeat;
	position: relative;
	margin: 0px 0px -30px 0px;
}

/*制限時間表示*/
#time {
	position: absolute;		/*吹き出しの子として配置*/
	margin: 20px 0px 0px 20px;
	width: 100px;
	height: 40px;
	background:#FC0;
	color: #FFF;
	text-align: center;
	line-height: 40px;
}

/*問題数の表示*/
#question {
	clear: both;
	float: left;
	margin: 0px 0px 0px 0px;
	width: 130px;
	height: 40px;
	background-color:#69C;
	color: #fff;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	line-height: 40px;
}

/*【第】部分のdiv*/
#dai {
	float: left;
	width: 20px;
	height: 40px;
	margin: 0px 10px 0px 10px;
}

/*問題番号の表示*/
#q_num {
	float:left;
	width: 50px;
	height: 40px;
	font-size: 18px;
}

/*【問】部分のdiv*/
#mon {
	float: left;
	width: 20px;
	height: 40px;
	margin-left: 10px;
}

/*単語を表示*/
#word_box {
	float: left;
	margin: 0px 0px 0px 0px;
	width: 600px;
	height: 200px;
	border:#69C solid 2px;
	color: #000;
	text-align: center;
	font-size: 50px;
	line-height: 180px;
}


.button_left {
	clear: both;
	float: left;
	margin: 20px 0px 0px 150px;
}

.button_right {
	float: right;
	margin: 20px 150px 0px 0px;
}


